<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="YFMapper">
	<select id="selectCollectsByUserId" parameterType="int" resultType="Collect">
		select * from collect where userId = #{userId}
	</select>
	
	<select id="selectCollectByUserAndCoupon" parameterType="int" resultType="Collect">
		select * from collect where userId = #{userId} and couponId=#{couponId}
	</select>
	
	<update id="updateCollectByUserId"  parameterType="Collect"  >
	 UPDATE collect
	 <trim prefix="set" suffixOverrides=",">
		  <if test="userId!=null">userId=#{userId},</if>
		  <if test="couponId!=null">couponId=#{couponId},</if>
		  <if test="time!=null">time=#{time},</if>
	 </trim>
	 WHERE id=#{id}
	</update>
	
	
	<insert id="insertCollect"  parameterType="Collect" useGeneratedKeys="true" keyProperty="id">
		insert into collect
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId!=null">userId,</if>
			  <if test="couponId!=null">couponId,</if>
			  <if test="time!=null">time,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId!=null">#{userId},</if>
		  <if test="couponId!=null">#{couponId},</if>
		  <if test="time!=null">#{time},</if>
		</trim>
	</insert>
	
</mapper>